# login-server 运行时 .env（键序与 login-server/src/RequiredEnv.js 一致；密钥来自 vault）
VERSION={{ release_version }}
DEBUG={{ ls_debug }}
SERVER_PORT={{ server_port }}
SUBDOMAINS_PREFIX_PROD={{ ls_subdomains_prefix_prod }}
SUBDOMAINS_PREFIX_TEST={{ ls_subdomains_prefix_test }}
TESTERS={{ ls_testers }}
QYWX_CORPID={{ ls_qywx_corpid }}
QYWX_AGENT_ID={{ ls_qywx_agent_id }}
QYWX_SECRET={{ vault_qywx_secret }}
QYWX_REDIRECT_URI={{ ls_qywx_redirect_uri }}
DOMAIN_NAME={{ domain_name }}
JWT_TTL_SECONDS={{ ls_jwt_ttl_seconds }}
JWT_SECRET={{ vault_jwt_secret }}
JWT_KID={{ ls_jwt_kid }}
